<% if @gossip.errors.any? %>

  <div class="alert alert-danger" role="alert">
    Nous navons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :
    <ul>
      <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>

<% end %>
<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2b/DublinVermeer.jpg); background-size: cover; background-position-y: 50%; background-repeat: no-repeat;">
  <div class="text-white text-left rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <!-- Content -->
      <h1 class="card-title h1 my-4 py-2">Sauvegarde un potin et rejoins nous !</h1>
      

    </div>
  </div>
</div>
<!-- Jumbotron -->


<h1 class="display-4 ml-3 my-4"></h1>

<%= form_tag url_for(action: 'create'), method: "post" do %>

  <%= label_tag 'Titre du potin : ', nil, :class => "lead ml-3 mt-4 mb-3" %>
  <%= text_field_tag 'title', nil, placeholder: ' Ex : "Confinement"', maxlength: 14 %>
  <br />

  <%= label_tag 'Contenu du potin : ', nil, :class => "lead ml-3 mb-5 align-top" %>
  <%= text_area_tag 'content', nil, placeholder: 'Ex : "Le confinement est long :("', size: "40x3" %>
  <br />

  <%= submit_tag "Créer le potin", :class => 'btn btn-primary ml-3 my-5'%>

<% end %>
