<!DOCTYPE html>
<html>
<head>
  <title>TheGossipProject</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark mb-2" style="background-color:#3e2723;">
    <a class="navbar-brand" href="#">The Gossip Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_collapse" aria-controls="nav_collapse" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav_collapse">
      <div class="navbar-nav">
        <span><%= link_to "Accueil", gossips_path, :class => "nav-item nav-link" %></span><span class="sr-only">(current)</span></span>
        <span><%= link_to "Team", team_path, :class => "nav-item nav-link" %></span>
        <span><%= link_to "Contact", contact_path, :class => "nav-item nav-link" %></span>
      </div>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
